$tools-width: 400px;
$tools-large-width: 800px;
$bottom-tabs-height: 30px;
$enable-mobile-tabs: 800px;

.front-page {

	.app-wrap,
	.app-wrap > .tab-container,
	.workout-container,
	.workout-container .workout-content {
		position: relative;
		height: 100vh;
		@include mq( $until: $enable-mobile-tabs ) {
			height: calc( 100vh - #{$bottom-tabs-height} );
		}
	}

	.app-wrap {
		> .tab-container {
			display: flex;
		}

		&.collapsed .workout-container {
			height: 0;
		}
		&.collapsed .loading {
			opacity: 1;
			visibility: visible;
		}
	}
	.loading {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		transition: all 200ms ease-in-out;
		&:before {
			position: absolute;
			content: 'Loading...';
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );
			padding-top: 80px;
		}
	}

	.spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -70px;
		margin-left: -30px;
		width: 60px;
		height: 60px;
		background-color: #333;

		-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
		animation: sk-rotateplane 1.2s infinite ease-in-out;
	}

	.workout-container {
		background-color: #eee;
		min-width: calc( 100% - #{$tools-width} );
		overflow-y: hidden;
		transition: all 200ms ease-in-out;
		position: relative;
		z-index: 2;

		&.tools-mode {
			min-width: calc( 100% - #{$tools-large-width} );
		}

		.workout-content {
			display: none;
			transition: all 200ms ease-in-out;

			@include mq( $until: 1180px ) {
				overflow-y: auto;
			}

			&.active {
				display: flex;
				@include mq( $until: 1180px ) {
					display: block;
				}
			}

			> div {
				border-right: 1px solid #e8e8e8;
				border-left: 1px solid #f7f7f7;
				flex: 1 1 auto;
			}

			&.focused > div {
				flex: 1 1;
				&.focused {
					flex: 3 1;
					font-size: 36px;
					background-color: #f8f8f8
				}
			}

			article {
				padding: 15px;
				height: calc( 100% - 30px );
				overflow-y: auto;

				@include mq( $until: 1180px ) {
					height: auto;
				}

				h2 {
					font-size: 18px;
				}
			}
		}

		.like-spinner {
			position: absolute;
			z-index: 10;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );
			display: block;
			transition: all 200ms ease-in-out;
			width: 80px;
			height: 80px;
			text-align: center;
			-webkit-transform-origin: 50% 50%;
			    -ms-transform-origin: 50% 50%;
			        transform-origin: 50% 50%;

			&.liked {
				.sk-folding-cube {
					transition: all 200ms ease-in-out;
					transform: scale( 1.25 ) rotate( 45deg );
				}
				.sk-folding-cube .sk-cube1 {
					opacity: 0;
				}

				.sk-folding-cube .sk-cube:before {
					background-color: red;
					-webkit-animation: none;
					        animation: none;
				}
			}
			&.disliked {
				.sk-folding-cube {
					transition: all 200ms ease-in-out;
					transform: scale( .75 ) rotate( 45deg );
				}
				.sk-folding-cube .sk-cube1 {
					opacity: 0;
				}
				.sk-folding-cube .sk-cube:before {
					background-color: #000;
					-webkit-animation: none;
					        animation: none;
				}
			}
			&.hide {
				.sk-folding-cube,
				.sk-folding-cube:before {
					opacity: 0;
				}
				.sk-folding-cube {
					transition: all 500ms ease-in-out;
					transform: scale( 0 ) rotate( 45deg );
				}
			}
		}
	}

	header {
		text-transform: uppercase;
		font-size: 12px;
		padding: 3px 6px;
		background-color: #272727;
		color: #fff;
		text-align: center;
		cursor: pointer;
	}

	.tools {
		background: #000;
		min-width: $tools-width;
		position: relative;
		transition: all 200ms ease-in-out;

		@include mq( $until: $enable-mobile-tabs ) {
			min-width: 100%;
		}

		button {
			transition: all 200ms ease-in-out;
		}

		&.large {
			min-width: $tools-large-width;
		}

		header {
			background-color: #eee;
			color: #222;
			font-weight: bold;
		}

		.clock {
			font-family: 'Roboto Mono', monospace;
			padding: 0 15px;
			text-align: right;
			color: green;
			font-size: 55px;
			text-align: center;
			min-height: 88px;
			transition: all 200ms ease-in-out;
		}
		.clock-controls {
			display: flex;
			button {
				flex: 1 1 auto;
				text-transform: uppercase;
				font-weight: normal;
				padding: 8px 15px;
				margin-right: 1px;

				&.secondary {
					background-color: $color--primary;
					&.tabata {
						background-color: $color--accent;
					}
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.workout-title {
			color: #eee;
			text-align: center;
			padding: 30px 10px;
			font-size: 24px;
		}
		.workout-controls {
			display: flex;
			position: absolute;
			bottom: 0;
			width: 100%;
			left: 0;
			button {
				flex: 1 1 auto;
				text-transform: uppercase;
				font-weight: normal;
				padding: 8px 15px;
				margin-right: 1px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
		&.large {
			.clock {
				font-size: 100px;
			}
			.clock-controls button,
			.workout-controls button {
				padding: 15px 25px;
				font-size: 18px;
			}
		}
	}

	.bottom-tabs {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 5;
		background-color: #fff;
		height: 30px;
		display: none;

		@include mq( $until: $enable-mobile-tabs ) {
			display: flex;
		}

		a {
			display: block;
			flex: 1 1 auto;
			text-align: center;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 30px;
			padding: 0 15px;
			border-right: 1px solid #ccc;
			cursor: pointer;
			text-decoration: none;
			background-color: #eee;

			&:hover {
				text-decoration: none;
				font-weight: bold;
			}

			&:last-of-type {
				border-right: 0;
			}

			&.active {
				background-color: #fff;
			}
		}
	}

	@include mq( $until: $enable-mobile-tabs ) {
		.tab-contents {
			display: none;
			width: 100%;
			&.active {
				display: block;
			}
		}
	}

	.centered .contents {
		text-align: center;
		vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
		flex: none !important;
		border: 0 !important;
	}

	.mobile-workout-title {
		border: 0;
		background-color: #000;
		color: #fff;
		text-align: center;
		padding: 10px;
		display: none;

		@include mq( $until: $enable-mobile-tabs ) {
			display: block;
			width: 100%;
		}

	}

	.workout-switch {
		display: flex;
		list-style: none;
		margin: 0;

		li {
			flex: 1 1 auto;
			list-style: none;
			margin: 0;

			a {
				padding: 5px 10px;
				display: block;
				text-transform: uppercase;
				background-color: #eee;
				font-size: 14px;
				cursor: pointer;

				&.active,
				&:hover {
					background-color: #fff;
					text-decoration: none;
				}
			}

			&.source-j19 a,
			&.source-linchpin a {
				background-repeat: no-repeat;
				background-position: 10px 50%;
				background-size: 20px 20px;
				padding-left: 35px;
			}

			&.source-j19 a {
				background-image: url( 'resources/img/j19-logo.svg' );
			}
			&.source-linchpin a {
				background-image: url( 'resources/img/linchpin-logo.svg' );
			}
		}
	}

	.heart-icon {
		display: inline-block;
		margin-right: 10px;
		width: 16px;
		height: 16px;
		background-image: url( 'resources/img/heart.svg' );
		background-size: 100% 100%;
		background-repeat: no-repeat;

		&.filled {
			background-image: url( 'resources/img/heart-filled.svg' );
		}
	}
	.mobile-workout-title .heart-icon {
		position: relative;
		top: 3px;
	}
}

/** Loading Animation */
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/** Like Heart Animation */
.sk-folding-cube {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear;
	        animation: sk-foldCubeAngle 2.4s infinite linear;
	-webkit-transform-origin: 100% 100%;
	    -ms-transform-origin: 100% 100%;
	        transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube1:before {
  -webkit-animation-delay: 0s, 0.3s;
          animation-delay: 0s, 0.3s;
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
