.front-page {
	.app-wrap,
	.app-wrap > .tab-container,
	.workout-container,
	.workout-container .workout-content {
		position: relative;
		height: 100vh;
		@include mq( $until: $enable-mobile-tabs ) {
			height: calc( 100vh - #{$bottom-tabs-height} );
		}
	}

	.app-wrap {
		> .tab-container {
			display: flex;
		}

		&.collapsed .workout-container {
			height: 0;
		}
		&.collapsed .loading {
			opacity: 1;
			visibility: visible;
		}
	}

	.workout-container.tools-mode {
		min-width: calc( 100% - #{$tools-large-width} );
	}

	.workout-switch {
		border-right: 1px solid #333;
	}

	.mobile-workout-title {
		.heart-icon {
			position: relative;
			top: 3px;
		}
		@include mq( $until: $enable-mobile-tabs ) {
			display: block;
			width: 100%;
		}
	}
}
